body {
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(66, 135, 245, 0.1) ;
    backface-visibility: ;
}

a {
    margin-block: auto;
    margin-right: 3%;
    text-decoration: none;
    color: black;
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-size: larger;
    font-style: normal;
}

.logo {
    display: flex;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-size: 300%;
    font-style: normal;
    color: rgb(102, 117, 117, 0.8);
}